nav {
  top: 0;
  position: fixed;
  display: flex;
  justify-content: center;
  border-radius: 0px 0px 15px 15px;
  width: 50%;
  background-color: #369928;
  left: 25%;
}

nav ul {
  padding: 0;
  list-style: none;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

nav ul a {
  text-decoration: none;
  color: white;
}
